*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: #000;
    color: #d8d8d8;
    border-bottom: 0.5px solid gray;
    width: 100%;
    line-height: 80px;
    height: 80px;
    font-size: 18px;
    padding: 0 30px;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Karla';
}

.navbar a{
    text-decoration: none;
    color: #d8d8d8;
}

.navbar a.nav-logo{
    float: left;
    height: inherit;
    line-height: inherit;
    padding: 0 30px;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Karla';
    color: #d8d8d8;
    font-weight: bold;
}

.navbar ul{
    float: right;
    list-style: none;
    height: inherit;
    line-height: inherit;
    padding: 0 50px; 
}

.navbar ul li{
    display: inline-block;
}

.navbar ul li a{
    display: block;
    text-align: center;
    min-width: 120px;
    padding: 0 30px;
}

.navbar ul li a:hover{
    background-color: gray;
}

